#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: url('pattern.png');
}

#content {
    margin-top: 50px;
}

.jumbotron {
    background-color: rgba(233, 236, 239, 0.8);
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: azure;
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

#profile {
    width: 120px;
    border-radius: 120px;
}

@media screen and (max-width: 768px){
    #content{
        text-align: center;
    }
}
